# Logs
*.log
backup/
lerna-debug.log*
log
log/
logs
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build outputs
dist/
dist_*/
dist-ssr/

# Dependencies
node_modules/

# Environment / local config
*.local
.env.local
.venv/

# Firebase
.firebase/

# Reference files
reference_sql/

# Editor directories and files
.DS_Store
.idea
.vscode/*
!.vscode/extensions.json
*.njsproj
*.ntvs*
*.sln
*.suo
*.sw?
